
services:
  app:
    build: .
    command: uvicorn src.app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./app:/src/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - cache

  db:
    image: postgres:14-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    
  cache:
    image: redis:7-alpine
    restart: always
    
volumes:
  postgres_data:
